@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  @apply bg-slate-100 text-slate-900;
}

@layer components {
  .btn-primary {
    @apply uppercase font-black text-xl text-white rounded-xl shadow-btn active:shadow-btn-pressed active:translate-y-[2px] transition-all;
  }
}
